
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{% if subdomain and subdomain.meta_title %}{{ subdomain.meta_title }}{% else %}{{ setup.meta_title }}{% endif %}{% endblock %}
{% block description %}{% if subdomain and subdomain.meta_description %}{{ subdomain.meta_description }}{% else %}{{ setup.meta_description }}{% endif %}{% endblock %}
{% block keywords %}{{ setup.meta_keywords }}{% endblock %}
{% block canonical %}{% endblock %}
{% block og:title %}{% if subdomain and subdomain.meta_title %}{{ subdomain.meta_title }}{% else %}{{ setup.meta_title }}{% endif %}{% endblock %}
{% block og:description %}{% if subdomain and subdomain.meta_description %}{{ subdomain.meta_description }}{% else %}{{ setup.meta_description }}{% endif %}{% endblock %}
{% block og:url %}{% endblock %}
{% block twitter:title %}{% if subdomain and subdomain.meta_title %}{{ subdomain.meta_title }}{% else %}{{ setup.meta_title }}{% endif %}{% endblock %}
{% block twitter:description %}{% if subdomain and subdomain.meta_description %}{{ subdomain.meta_description }}{% else %}{{ setup.meta_description }}{% endif %}{% endblock %}
{% block og:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block og:image:secure_url %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block twitter:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}




{% block body %}
{% load static %}
{% load thumbnail %}
{% load theme_static %}

{% if sliders.count > 0 %}
<div class="start">
    {% if slider_setup.full_screen %}
    <div class="sl owl-carousel" data-speed="{{ slider_setup.speed }}" data-nav="{{ slider_setup.nav }}" data-dots="{{ slider_setup.dots }}" data-autoplay="{{ slider_setup.autoplay }}" >
        
        
        {% for slider in sliders %}
        <div class="sl__item" height="{{ slider_setup.height }}">
            <div class="sl__wrap {% if slider.title or slider.text or slider.button_text %}sl__wrap--bg{% endif %}">
                <div class="container">
                    <div class="sl__wrap-inner" style="text-align: {{ slider_setup.text_align }}">
                        {% if slider.title %}
                            <h2 class="sl__title" style="font-size: {{ slider_setup.title_size }}px;text-align: {{ slider_setup.text_align }}">{{ slider.title }}</h2>
                        {% endif %}
                        {% if slider.text %}
                            <p class="sl__text" style="font-size: {{ slider_setup.desc_size }}px;text-align: {{ slider_setup.text_align }}">{{ slider.text | safe }}</p>
                        {% endif %}
                    </div>
                    {% if slider.button_text %}
                        <p class="btn btn--primary">{{ slider.button_text }}</p>
                    {% endif %}
                </div>
            </div>
            {% if slider.file_format == 'photo' %}
                {% if slider.link %}
                    <a href="{{ slider.link }}" class="sl__item-link">
                {% endif %}
                <img src="{{ slider.get_image_max.url }}" class="sl__img" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" title="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}">
                <img src="{{ slider.get_image_mob.url  }}" class="sl__img-mobile" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" title="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}">
                {% if slider.link %}
                    </a>
                {% endif %}
            {% elif slider.file_format == 'video' %}
                <video class="sl__video" muted autoplay loop>
                    <source src="{{ slider.image.url }}"  type="video/mp4">
                </video>
            {% endif %}
        </div>
        {% endfor %}
    
    
    </div>
    {% else %}
    <div class="container">
        <div class="sl sl--min owl-carousel" data-speed="{{ slider_setup.speed }}" data-nav="{{ slider_setup.nav }}" data-dots="{{ slider_setup.dots }}" data-autoplay="{{ slider_setup.autoplay }}" >
        
        
            {% for slider in sliders %}
            <div class="sl__item">
                {% if slider.link %}
                    <a href="{{ slider.link }}" class="sl__item-link">
                {% endif %}
                <div class="sl__wrap {% if slider.title or slider.text or slider.button_text %}sl__wrap--bg{% endif %}">
                    <div class="container">
                        
                        <div class="sl__wrap-inner">
                            {% if slider.title %}
                                <h2 class="sl__title" style="color: {{ slider.text_color }};">{{ slider.title }}</h2>
                            {% endif %}
                            {% if slider.text %}
                                <p class="sl__text" style="color: {{ slider.text_color }};">{{ slider.text | safe }}</p>
                            {% endif %}
                        </div>
                        {% if slider.button_text %}
                            <p class="btn btn--primary">{{ slider.button_text }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if slider.link %}
                    </a>
                {% endif %}

                {% if slider.file_format == 'photo' %}
                    
                    <img src="{{ slider.get_image_max.url }}" class="sl__img" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" title="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}">
                    <img src="{{ slider.get_image_mob.url  }}" class="sl__img-mobile" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" title="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}">
                   
                {% elif slider.file_format == 'video' %}
                    <video class="sl__video" muted autoplay loop>
                        <source src="{{ slider.image.url }}"  type="video/mp4">
                    </video>
                {% endif %}
            </div>
            {% endfor %}
        
        
        </div>


    </div>
    {% endif %}
</div>
{% endif %}





{% comment %} <div class="append-cats">
    <div class="container">
        <div class="append-cats__inner" id="appendCats">    
            
        </div>
    </div>

</div> {% endcomment %}

{% include 'components/cat_list.html' with home_cats=home_cats  %}


{% if combos %}
    
    <div class="block gray" id="combo">
        <div class="container">
            <div class="block__inner">
                <h2 class="title">Комбо</h2>

                                    
                    <div class="product-list">


                                
                        {% for combo in combos %}
                        <div class="product-list__item">



                            <div class="combo-popup">


                                
                                <div class="combo-popup__layout"></div>


                                <div class="combo-popup__inner">

                                    <a href="#" class="combo-popup__closer">
                                        <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.85522 5.93945L13.1531 14.0505M13.1531 14.0505L20.451 22.1616M13.1531 14.0505L20.451 5.93945M13.1531 14.0505L5.85522 22.1616" stroke="#333333" stroke-width="1.8766" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>

                                    <p class="combo-popup__name">{{ combo.name }}</p>
                                    <p class="combo-popup__desc">{{ combo.description }}</p>
                                    
                                    
                                     

                                    {% regroup combo.items.all by cat as parent_list %}

                                    {% for parent in parent_list %}

                                    <div class="combo-popup__parent_list" data-check="" data-price="0,00">
                                        

                                        <p class="combo-popup__item-group">{{ parent.grouper }} на выбор</p>


                                            <div class="combo-popup__item-row" >

                                            {% for item in parent.list %}

                                                <div class="combo-popup__item-item" data-price="{{ item.price }}" data-id="{{ item.id }}"><div class="combo-popup__item-check"></div>{{ item.product.name }} + {{ item.price | floatformat:0  }} ₽</div>

                                            {% endfor %}
                                            </div>
                                    </div>
                                    {% endfor %}

                                    <div class="combo-popup__bottom">



                                        
                                        <div class="combo-popup__bottom-wrap">

                                            <div class="counter">
                                                <button class="counter__btn counter__btn--minus">
                                                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <line y1="1" x2="12" y2="1" stroke="#000" stroke-width="2"></line>
                                                    </svg>
                                                </button>
                                                <input type="number" class="counter__input" value="1">
                                                <button class="counter__btn counter__btn--plus">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5.832 13.536H7.96V8.132H13.084V6.228H7.96V0.907999H5.832V6.228H0.568V8.132H5.832V13.536Z" fill="#000"></path>
                                                    </svg>
                                                </button>
                                            </div>

                                            <div class="btn-wrap" data-quantity="1" data-cart-id="{{combo.id}}" data-type="combo" data-name="{{combo.name}}" data-optionsid="" data-price="{{combo.price}}" data-image="{{ combo.get_thumb_mini }}">
                                                <div class="btn-wrap__count"></div>
                                                <div class="btn-wrap__svg"></div>
                                                <button class="btn btn--primary combo-popup__btn" >Добавить</button>
                                            </div>

                                        </div>

                                        <div class="combo-popup__summ" data-price="{{ combo.price }}" data-final="">{{ combo.price | floatformat:0 }} ₽</div>


                                    </div>

                                </div>
                                <div class="combo-popup__layout"></div>
    
                            </div>

                            <div class="product-list__top">
                                

                                
                                    <img 
                                        loading="lazy" 
                                        src="{{ combo.get_thumb_mini }}"
                                        title="{{ combo.name }}"
                                        alt="{{ combo.name }}" 
                                         
                                        class="product-list__thumb {% if product.images.first %}product-list__thumb--opacity{% endif %}"
                                    >
                                

                               

                                
                                
                                

                            </div>


                            

                           

                            <div class="product-list__bottom">
                                <h3 class="product-list__title">{{ combo.name }}</h3>
                               
                                <div class="product-list__desc">
                                {{ combo.description }}

                                </div>
                               
                                <div class="product-list__prices">
                                    <p class="product-list__price">{{ combo.price | floatformat:0 }} ₽</p>
                                   
                                </div>
                                
                            </div>

                            <a href="#" class="btn btn--primary open-combo">Выбрать</a>

                            <form action="{% url 'set_like' %}" method="POST" class="like-form">
                                {% csrf_token %}
                                <input type="text" name="id" value="{{ combo.id }}" hidden>
                                <input type="text" name="like_type" value="combo" hidden>
                                <input type="text" class="like-form__toggle" name="toggle" hidden value="{% if combo.id|stringformat:"s" in cart.combo_likes %}1{% else %}0{% endif %}">
                                <button class="like-form__btn {% if combo.id|stringformat:"s" in cart.combo_likes %}like-form__btn--active{% else %}{% endif %}">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                                
                                </button>
                                {% for like in combo.likes.all %}
                                    {% if like.likes_count != 0 %}
                                        <div class="like-form__popup">
                                            
                                            Всего лайков:
                                            <div class="like-form__refresh">
                                                <div class="like-form__count">
                                                    {{like.likes_count}}
                                                </div>
                                            </div>
                                            
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
            
                                        </div>
                                    {% endif %}
                                    
                                    
                                {% endfor %}


                            </form>

                        </div>
                        {% endfor %}

                        
                        

                    </div>
            </div>
        </div>
    </div>
    

{% endif %}


{% if shop_setup.all_menus %}
    {% for cat in categorys %}
   
        {% if not cat.parent %}

           

            {% if cat.all_active_products.count > 0 %}

            
                <div class="block gray" id="{{ cat.id }}">
                    <div class="container">
                        <div class="block__inner">
                            <div class="block__justify">
                                {% if shop_setup.hide_cat_names %}

                                {% else %}
                                <h2 class="title">{{ cat.name }}</h2>
                                {% endif %}

                            </div>
                            {% include 'components/product_list.html' with category=cat slider='false' products=cat.all_active_products big='product-list__item--big' size=image_size %}

                            
                        </div>
                    </div>
                </div>

            {% endif %}

        
        
        {% endif %}

    {% endfor %}
{% else %}


    {% if shop_setup.new_products == True %}
        {% if new_products.count > 0 %}
        <div class="block gray">
            <div class="container">
                <div class="block__inner">
                    <div class="block__justify">
                        <h2 class="title">Новинки</h2>
                        <a href="/catalog/?sort=-new" class="block__seeall">Смотреть все ></a>

                    </div>
                    {% include 'components/product_list.html' with slider='false' products=new_products big='product-list__item--big' size=image_size %}

                    
                </div>
            </div>
        </div>
        {% endif %}

    {% endif %}
    {% if shop_setup.action == True %}
        {% if sale_products.count > 0 %}
        <div class="block gray">
            <div class="container">
                <div class="block__inner">
                    <h2 class="title">Скидки</h2>
                    {% include 'components/product_list.html' with slider='false' products=sale_products big='product-list__item--big' size=image_size %}
                
                    <div class="block__center">
                        {% comment %} <a href="#" class="btn btn--empty">Смотреть все</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    {% endif %}
    {% if shop_setup.sales_hits == True %}
        {% if hit_products.count > 0 %}
        <div class="block gray">
            <div class="container">
                <div class="block__inner">
                    <h2 class="title">Хиты продаж</h2>
                    {% include 'components/product_list.html' with slider='false' products=hit_products big='product-list__item--big' size=image_size %}

                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

{% endif %}


{% include 'components/reviews.html' with reviews=reviews %}



{% if news.count > 0 %}
<div class="block">
    <div class="container">
        <div class="block__inner">
            <h2 class="title">Недавние новости</h2>
            

            <div class="news">
                {% for new in news %}
                    {% if new.draft == False %}
                    <div class="news__item">
                        <a href="{{ new.get_absolute_url }}" class="news__wrap">

                     
                        {% thumbnail new.image "321x201" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ new.name }}" title="{{ new.name }}" class="news__image">
                        {% endthumbnail %}

                        </a>
                        <a href="{{ new.parent.get_absolute_url }}" class="news__cat">
                            {{ new.parent.name }}
                        </a>
                        <p class="news__date">{{ new.create_at }}</p>
                        <a href="{{ new.get_absolute_url }}" class="news__title"><h3>{{ new.name }}</h3></a>

                        <p class="news__desc">
                            {% for block in new.blocks.all %}
                                {% if block.type == 'text' and forloop.counter < 3 %}
                                    {{ block.text }}
                                {% endif %}
                            {% endfor %}
                        </p>

                        <a href="{{ new.get_absolute_url }}" class="btn btn--empty">Читать</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endif %}


{% include 'global/about.html' %}









{% endblock %}