media
db.sqlite3
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
.yarn/cache
.yarn/install-state.gz
ehthumbs.db
Thumbs.db
_config.yml
node_modules
dist
package-lock.json
.cache
debug.log
static_setup.py

**/local_settings.py
**/secret_key.py
**/staticfiles.json
**/whitenoise.py
main/main/whitenoise.py
.htaccess
node_modules
venv
.idea
passenger_wsgi.py

**/ckeditor
.bash_history
.ssh

**/__pycache__
**/migrations
delivery.json

main/csv_upload

