.sl {
    position: relative;
    padding: 40px 0;
    // .sl__inner
    &__inner {

    }
    // .sl__item

    &__item {
        display: block;
        width: 100%;
        // height: calc(100vh - 250px);
        // min-height: 374px;
        position: relative;
        color: var(--color-font);
    }

    // .sl__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // position: absolute;
        left: 0;
    }

    // .slider__wrap

    &__wrap {
        position: absolute;
        width: 100%;
        z-index: 2;
        &--bg {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px 40px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    // .slider__title

    &__title {
    }

    // .slider__text

    &__text {
        margin-bottom: 10px;
    }

    .owl-prev {
        position: absolute;
        top: 50%;
        left: 10px;
        width: 30px!important;
        height: 30px!important;
        border-radius: 50%!important;
        background-color: var(--color-body)!important;
        font-size: 24px;
        transform: translateY(-50%);
        @media screen and (max-width:1426px) {
            left: 30px;
        }
        @media screen and (max-width:480px) {
            display: none;
        }
    }

    .owl-next {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 30px!important;
        height: 30px!important;
        border-radius: 50%!important;
        background-color: var(--color-body)!important;
        font-size: 24px;
        transform: translateY(-50%);
        @media screen and (max-width:1426px) {
            right: 30px;
        }
        @media screen and (max-width:480px) {
            display: none;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        .owl-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgb(157, 157, 157);
            display: block;
        }
        .owl-dot + .owl-dot {
            margin-left: 5px;
        }
        .active {
            background-color: var(--color-primary);
        }
    }
}



    


