{% extends 'admin_base.html' %}



{% block body %}

<div class="page__title">Общие настройки</div>

<div class="breadcrumb">

    <ol class="breadcrumb__list">
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Главная</a></li>
        <li class="breadcrumb__item">Общие настройки</li>
    </ol>

</div>

<div class="page">

    

        <form action="." class="form" method="post" enctype="multipart/form-data">
        
            {% csrf_token %}
            <h3 class="form__title">Основные настройки</h3>

            {{ form.as_p }}

            

            <button class="btn btn--primary">Сохранить</button>
        </form>
    

    {% comment %}<div class="page__wrap">

        <form action="{% url 'email_settings' %}" class="form" method="post">
            {% csrf_token %}
            <h3 class="form__title">Исходящая почта SMTP</h3>

           

            {{ email_form }}
            


            <button class="btn btn--primary">Сохранить</button>
        </form>

         <form action="{% url 'recaptcha_settings' %}" class="form" method="post">
            {% csrf_token %}
            <h3 class="form__title">Recaptcha3</h3>

            {{ recaptcha_form }}


            <button class="btn btn--primary">Сохранить</button>
        </form> 
    </div>{% endcomment %}



</div>



{% endblock %}