{% load thumbnail %}

<div class="product-list {% if slider == 'true' %}product-list--slider owl-carousel{% endif %}">
    
        
            
    {% for product in products %}
    <div class="product-list__item {{ big }}">

        <div class="product-list__top-top">
            <a href="{{ product.get_absolute_url }}" class="product-list__top">
                
                <div class="product-list__top-wrap">
                    {% if product.old_price %}
                    <div class="product-list__sale">
                        -{{ product.get_sale | floatformat:0 }}%
                    </div>
                    {% endif %}
                    {% if product.new == True %}
                    <div class="product-list__new">
                        Новинка
                    </div>
                    {% endif %}
                
                    {% comment %} <div class="product-list__hit">
                        Hit
                    </div> {% endcomment %}
                </div>
            
                


                {% thumbnail product.thumb size format="WEBP" crop="center" as im %}
                    <img loading="lazy" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}" class="product-list__thumb product-list__thumb-{{ product.id }}">
                {% endthumbnail %}

                {% comment %} {% if product.images.first %}
                    {% thumbnail product.images.first.src size format="WEBP" crop="center" as im %}
                        <img loading="lazy" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}" class="product-list__image">
                    {% endthumbnail %}
                {% endif %} {% endcomment %}

            

                

            </a>

            <div class="product-list__bottom">
                <h3 class="product-list__title">
                    <a href="{{ product.get_absolute_url }}">
                    
                    {{ product.name }}
                    <span class="product-options__span-{{ product.id }}">
                    {% if product.get_option %}
                        {% for option in product.get_option %}
                            {% if forloop.counter == 1 %}
                                {{ option.option_value }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </span>
                    </a>
                </h3>



                {% if shop_setup.show_descrioption == True and product.short_description %}
                
                {% if product.weight %}
                <div class="product-list__weight product-list__weight-{{ product.id }}">{{ product.weight }}</div>
                {% endif %}
                <div class="product-list__desc">
                {{ product.short_description }}

                </div>
                {% endif %}
                
                
            </div>
        </div>
        <div class="product-list__bottom-wrap">
            <div class="product-list__prices">
                <p class="product-list__price" id="price-{{ product.id }}" data-price="{{ product.price }}">{{ product.price | floatformat:0 }} ₽</p>
                {% if product.old_price %}
                    <p class="product-list__old" id="old_price-{{ product.id }}" data-price="{{ product.old_price }}">{{ product.old_price | floatformat:0 }}₽</p>
                {% endif %}
            </div>

            {% if product.options.count == 0 %}
            <form data-id="{{ product.id }}" data-quantity="1" data-name="{{ product.name }}" data-price="{{ product.price }}" data-category="{{ product.parent.name }}" class="product-list__form" action="{% url "cart:cart_add" product.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="quantity" hidden value="1">
                <input type="hidden" name="update" value="False" id="id_update">
            
                <button class="btn btn--primary">В Корзину</button>
            </form>
            {% elif product.get_option %}
            <button class="product-options__btn btn btn--primary" data-csrf="{{ csrf_token }}" data-price="{{ product.price }}" data-options-id="{% if product.get_option %}{% for option in product.get_option %}{% if forloop.counter == 1 %}{{ option.id }}{% endif %}{% endfor %}{% endif %}" data-options="{% for option in product.get_option %}{% if forloop.counter == 1 %}{{ option.option_value }}{% endif %}{% endfor %}" data-quantity="1" data-product="{{ product.id }}">В корзину</button>
            {% else %}
           
            
            <a href="{{ product.get_absolute_url }}" class="btn btn--primary">Выбрать опции</a>
            {% endif %}
            
            <div class="product-options">
            {% if product.get_option %}
                {% for option in product.get_option %}
                <div data-weight="{% if forloop.counter == 1 %}{{ product.weight }}{% else %}{{ option.option_weight }}{% endif %}" data-image="{% if forloop.counter == 1 %}{% thumbnail product.thumb size format="WEBP" crop="center" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail option.images.first.src size format="WEBP" crop="center" as im %}{{ im.url }}{% endthumbnail %}{% endif %}" data-id="{{ option.id }}" data-product-id="{{ product.id }}" data-price="{{ option.option_price }}" data-value="{{ option.option_value }}" class="product-options__item {% if forloop.counter == 1 %}product-options__item--active{% endif %}">
                    {{ option.option_value }}
                </div>
                {% endfor %}
            {% endif %}
            </div>
            
        </div>
    </div>
    {% endfor %}

       
    
                    

</div>