
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ setup.meta_title }}{% endblock %}
{% block description %}{{ setup.meta_description }}{% endblock %}
{% block keywords %}{{ setup.meta_keywords }}{% endblock %}
{% block canonical %}{% url 'home' %}{% endblock %}
{% block og:title %}{{ setup.meta_title }}{% endblock %}
{% block og:description %}{{ setup.meta_description }}{% endblock %}
{% block og:url %}{% url 'home' %}{% endblock %}
{% block twitter:title %}{{ setup.meta_title }}{% endblock %}
{% block twitter:description %}{{ setup.meta_description }}{% endblock %}
{% block og:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block og:image:secure_url %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block twitter:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}




{% block body %}
{% load static %}
{% load thumbnail %}
{% load theme_static %}

{% if sliders.count > 0 %}
<div class="start">
    
    <div class="sl owl-carousel" data-speed="{{ slider_setup.speed }}" data-nav="{{ slider_setup.nav }}" data-dots="{{ slider_setup.dots }}" data-autoplay="{{ slider_setup.autoplay }}" >
        
        {% for slider in sliders %}
            {% if slider.link %}

                <a href="{{ slider.link }}" class="sl__item">
                    
                        <div class="sl__wrap {% if slider.title or slider.text or slider.button_text %}sl__wrap--bg{% endif %} ">
                            <div class="sl__wrap-inner">
                                {% if slider.title %}
                                <h2 class="sl__title">{{ slider.title }}</h2>
                                {% endif %}
                                {% if slider.text %}
                                <p class="sl__text">{{ slider.text | safe }}</p>
                                {% endif %}
                            </div>
                            {% if slider.button_text %}
                            <p class="btn btn--primary">{{ slider.button_text }}</p>
                            {% endif %}
                        </div>
                        
                        {% thumbnail slider.image "1280x374" format="WEBP" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="sl__img" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" >
                        {% endthumbnail %}
                        {% thumbnail slider.image_mob "1200x600" format="WEBP" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="sl__img-mobile" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" >
                        {% endthumbnail %}
                    
                </a>
            {% else %}
                <div class="sl__item">

                    
                        <div class="sl__wrap {% if slider.title or slider.text or slider.button_text %}sl__wrap--bg{% endif %} ">
                            <div class="sl__wrap-inner">
                                {% if slider.title %}
                                <h2 class="sl__title">{{ slider.title }}</h2>
                                {% endif %}
                                {% if slider.text %}
                                <p class="sl__text">{{ slider.text | safe }}</p>
                                {% endif %}
                            </div>
                            {% if slider.button_text %}
                            <p class="btn btn--primary">{{ slider.button_text }}</p>
                            {% endif %}
                        </div>
                        
                        {% thumbnail slider.image "1280x374" format="WEBP" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="sl__img" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" >
                        {% endthumbnail %}
                        {% thumbnail slider.image_mob "1200x600" format="WEBP" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="sl__img-mobile" alt="{% if slider.title %}{{ slider.title }}{% else %}{{ slider.name }}{% endif %}" >
                        {% endthumbnail %}
                    
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% if shop_setup.new_products == True %}
<div class="block">
    <div class="container">
        <div class="block__inner">
            <h2 class="title">Новинки</h2>

            {% include 'components/product_list.html' with slider='false' products=new_products big='product-list__item--big' size='326x326' %}

            <div class="block__center">
                <a href="/catalog/?sort=-new" class="btn btn--empty">Смотреть все</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if shop_setup.action == True %}
    {% if sale_products.count > 0 %}
    <div class="block">
        <div class="container">
            <div class="block__inner">
                <h2 class="title">Скидки</h2>
                {% include 'components/product_list.html' with slider='false' products=sale_products big='product-list__item--big' size='326x326' %}
            
                <div class="block__center">
                    {% comment %} <a href="#" class="btn btn--empty">Смотреть все</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endif %}
{% if shop_setup.sales_hits == True %}
    {% if hit_products.count > 0 %}
    <div class="block">
        <div class="container">
            <div class="block__inner">
                <h2 class="title">Хиты продаж</h2>
                {% include 'components/product_list.html' with slider='false' products=hit_products big='product-list__item--big' size='326x326' %}

            </div>
        </div>
    </div>
    {% endif %}
{% endif %}

{% if news.count > 0 %}
<div class="block">
    <div class="container">
        <div class="block__inner">
            <h2 class="title">Недавиние новости</h2>
            

            <div class="news">
                {% for new in news %}
                    {% if new.draft == False %}
                    <div class="news__item">
                        <a href="{{ new.get_absolute_url }}" class="news__wrap">

                     
                        {% thumbnail new.image "321x201" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ new.name }}" class="news__image">
                        {% endthumbnail %}

                        </a>
                        <a href="{{ new.parent.get_absolute_url }}" class="news__cat">
                            {{ new.parent.name }}
                        </a>
                        <p class="news__date">{{ new.create_at }}</p>
                        <a href="{{ new.get_absolute_url }}" class="news__title"><h3>{{ new.name }}</h3></a>

                        <p class="news__desc">
                            {% for block in new.blocks.all %}
                                {% if block.type == 'text' and forloop.counter < 3 %}
                                    {{ block.text }}
                                {% endif %}
                            {% endfor %}
                        </p>

                        <a href="{{ new.get_absolute_url }}" class="btn btn--empty">Читать</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endif %}
{% include 'global/about.html' %}

{% if manufacturers.count > 0 %}
<div class="block">
    <div class="container">
        <div class="block__inner">
            <h2 class="title">Бренды в нашем магазине</h2>
            <div class="block__grid">

                {% for man in manufacturers %}
                <div class="block__grid-item">
                    {% if man.image %}
                    <img src="{{ man.image.url }}" alt="{{ man.name }}" class="block__grid-img">
                    {% else %}
                    <p class="block__grid-text">{{ man.name }}</p>

                    {% endif %}
                </div>
                {% endfor %}

            </div>


        </div>
    </div>
</div>
{% endif %}





{% endblock %}