{% comment %} <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">next</a>
            <a href="?page={{ products.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}


{% if products.has_next %}
    <ul class="pagination">
        {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"> < </a> </li>
        {% endif %}
        {% for row in products.paginator.page_range %}

            {% if forloop.counter <= 2 %}
                {% if row == products.number  %}
                    <li class="active"><a href="?page={{ row }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ row }}</a></li>
                {% else %}
                    <li><a href="?page={{ row }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ row }}</a></li>
                {% endif %}
        
            {% endif %}


            {% if forloop.revcounter == 1 %}
                <li class="dots">
                    ...
                </li>
                
                {% if row == products.number  %}
                        <li class="active"><a href="?page={{ row }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ row }}</a></li>
                    {% else %}
                        <li><a href="?page={{ row }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ row }}</a></li>
                {% endif %}
            {% endif %}

        {% endfor %}
        {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"> > </a> </li>
        {% endif %}
    </ul>
{% endif %}