{% extends 'base.html' %}




{% block body %}


<div class="cart-top">
    <div class="container">
        <div class="cart-top__inner">

            <h1 class="cart-top__title">Оформление заказа</h1>

        </div>
    </div>
</div>



<form action="." method="post" class="order-detail">
    <div class="container">
        <div class="order-detail__inner">
            <div class="order-detail__form">
                <div class="order-form">
                    {{ form.as_p }}
                    
                    
                    {% csrf_token %}
                </div>
               
            </div>
            <div class="order-detail__data">
                <ul>
                    {% for item in cart %}
                        {% with option=item.option %}
                            <li>
                                <p>{{ option.parent.name }}{% if option.parent.name != option.option_value  %}, {{ option.option_value }}{% endif %} x {{ item.quantity }}</p>
                                
                                <span>{{ item.total_price }}₽</span>
                            </li>
                        {% endwith %}
                    {% endfor %}
                    {% if cart.coupon %}
                        <li class="subtotal">
                            <p>Сумма</p>
                            <p>{{ cart.get_total_price }}₽</p>
                            
                        </li>
                        <li>
                            <p>
                                Купон "{{ cart.coupon.code }}" 
                                (-{{ cart.coupon.discount }}%)
                            </p>
                            <p>

                                - {{ cart.get_discount|floatformat:"2" }}₽
                            </p>
                        </li>
                    {% endif %}
                    <li>
                        
                        <p>Итого:</p>
                        <p class="order-detail__total">{{ cart.get_total_price_after_discount|floatformat:"2" }}₽</p>
                    </li>
                </ul>
               
                <button class="btn btn--full">Оформить</button>
            </div>


        </div>
    </div>
</form>
    
   
    
{% endblock %}