
{% extends '../global/info.html' %}
{% load thumbnail %}
{% block title %}Страница контактов{% endblock %}
{% block description %}Страница контактов{% endblock %}
{% block keywords %}{{ setup.meta_keywords }}{% endblock %}
{% block canonical %}{% endblock %}
{% block og:title %}Страница контактов{% endblock %}
{% block og:description %}Страница контактов{% endblock %}
{% block og:url %}{% endblock %}
{% block twitter:title %}Страница контактов{% endblock %}
{% block twitter:description %}Страница контактов{% endblock %}
{% block og:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block og:image:secure_url %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}
{% block twitter:image %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}




{% block body %}
{% load static %}
{% load thumbnail %}
{% load theme_static %}


<div class="taplink">

    <div class="taplink__inner">

        <div class="taplink__top">
            <img src="{{ setup.logo_dark.url }}" alt="" class="taplink__logo">
            {% if setup.site_link %}
            <h1 class="taplink__title">{{ setup.site_link }}</h1>
            {% endif %}
            {% if setup.site_desc %}
            <p class="taplink__text">{{ setup.site_desc }}</p>
            {% endif %}
        </div>

        {% if setup.whatsapp %}
        <a href="{{ setup.whatsapp }}" class="taplink__item">
            <p>WHATSAPP</p>
            {% if setup.whatsapp_desc %}
            <p>{{ setup.whatsapp_desc }}</p>
            {% endif %}

        </a>
        {% endif %}
        {% if setup.phone %}
        <a href="tel:{{ setup.phone }}" class="taplink__item">
            <p>ЗВОНОК</p>
            {% if setup.phone_desc %}
            <p>{{ setup.phone_desc }}</p>
            {% endif %}

        </a>
        {% endif %}
        {% if setup.instagram %}
        <a href="{{ setup.instagram }}" class="taplink__item">
            <p>INSTAGRAM</p>
            {% if setup.instagram_desc %}
            <p>{{ setup.instagram_desc }}</p>
            {% endif %}

        </a>
        {% endif %}
        {% if setup.site_link %}
        <a href="{{ setup.site_link }}" class="taplink__item">
            <p>САЙТ</p>
            {% if setup.site_desc %}
            <p>{{ setup.site_desc }}</p>
            {% endif %}
        </a>
        {% endif %}
        {% if setup.telegram %}
        <a href="{{ setup.telegram }}" class="taplink__item">
            <p>ТЕЛЕГРАМ</p>
            {% if setup.telegram_desc %}
            <p>{{ setup.telegram_desc }}</p>
            
            {% endif %}

        </a>
        {% endif %}
    </div>

</div>




{% endblock %}