{% extends 'admin_base.html' %}



{% block body %}
{% load admin_static %}

<div class="faq">

    <p class="faq__title">1. Панель</p>
    <p class="faq__desc">Главная панель интернет магазина.</p>

    <div class="faq__item">
        ... Функционал панели находится в разработке. Документация будет доступна позже ...

    </div>

    <p class="faq__title">2. Статика</p>
    <p class="faq__desc">Статичные страницы и слайдер.</p>

    <div class="faq__item">
        <p class="faq__text-title">2.1. Статичные страницы</p>
        <p class="faq__description">
            Статичные страницы представляют из себя набор готовых страниц с заданным URL адресом. Список доступных страниц: 
            О нас,
            Оплата,
            Политика конфиденциальности,
            Доставка,
            Контакты,
            Как заказать,
            Скидки и бонусы,
            Возврат товаров.
        </p>
        <p class="faq__description">
            В настройках каждой страницы есть возможность отобразить ссылку на нее как в футере, так и в хедере сайта, а так 
            же сделать ее полностью скрытой. Дополнительные поля позволяют настроить метатеги и изображение страницы.
        </p>
          
            
    </div>

    <div class="faq__item">
        <p class="faq__text-title">2.2. Слайдер</p>
        <p class="faq__description">
            Слайдер на главной странице может содержать неограниченное количесво слайдов. Слайды можно сделать с описаниями и ссылками на посадочные страницы, для этого 
            достаточно заполнить необходимые поля.
        </p>
        <p class="faq__description">
            Настройки слайдера позаоляют включить и выключить такие пункаты как: стрелки, точки навигации, автолистание. Также можно настроить скорость 
            анимации пролистывания в милисекундах.

        </p>
          
            
    </div>
    <p class="faq__title">3. Магазин</p>
    <p class="faq__desc">Работа с товарами и разделом магазина сайта.</p>


    
    <div class="faq__item ">

        <p class="faq__text-big">3.1 Настройки</p>
        
        <p class="faq__text-title">3.1.1 Настройки магазина</p>
        <div class="faq__description">
            Описание пунктов настройки:
            <p><b>Время работы</b> - отображается в шапке сайта рядом с телефоном.</p>
            <p><b>Время начала доставки</b> - с этого времени (+ задержка при формировании заказа) будет считаться доставка в предлагаемом при оформлении заказа списке.</p>
            <p><b>Время окончания доставки</b> - до этого времени рассчитывается доставка.</p>
            <p><b>Доставка 24/7</b> - при активном пункте меню убирает ограничения по времени.</p>
            <p><b>Задержка при формировании заказа на доставку</b> - сколько времени необходимо на приготовление и доставку заказа.</p>
            <p><b>Доставка только при оплате онлайн</b> - запрещает доставку при оплате другими способами.</p>
            <p><b>Включить зоны доставки</b> - включает рассчет стоимости доставки по активным зонам доставки (необходима загрузка файла с зонами доставки)</p>
            <p><b>Стоимость доставки</b> - единая стоимость доставки (не работает при включенных зонах доставки)</p>
            <p><b>Сумма заказа для бесплатной доставки</b> - обнуляет стоимость доставки после заданной суммы.</p>
            <p><b>Показать короткое описание товара под карточкой</b> - выводит короткое описание товара в списке товаров.</p>
            <br>
            <img width="200" src="{% get_static 'images/faq/1.png' %}" alt="">
            <br>

            <p><b>Товар при 0 остатке</b> - не актуально для магазинов в тематике "Еда"</p>
            <p><b>Описание каталога</b> - описание общего каталога (меню). Расположено внизу страницы <a href="/catalog/">/catalog/</a> </p>
            <p><b>H1</b> - главный заголовок каталога.</p>
            <p><b>Мета тайтл, Мета описание, Ключевые слова</b> - настройки метатегов для страницы каталога.</p>
            <p><b>Изображение</b> - использыется при репосте страницы в соцсетях (сниппет с изображением)</p>
            <p><b>Включить акции, Включить новинки, Включить хиты продаж</b> - активирует или скрывает соответствующие блоки на главной странице сайта.</p>
            
        </div>

        <br>
       
        <p class="faq__text-title">3.2 Файл с зонами доставки</p>
        <div class="faq__description">
                Подкогтовка файла происходит через <a href="https://yandex.ru/map-constructor/">https://yandex.ru/map-constructor/</a> с помощью инстумента 
                "Многоугольники". В описании зоны доставки укажите стоимость доставки для конкретной зоны. Никаких других данных в описании быть <b>не должно</b>.
                Пример оформления:
            <br>
            <br>
            <img width="650" src="{% get_static 'images/faq/2.png' %}" alt="">
            <br>
            <br>
            <img width="650" src="{% get_static 'images/faq/3.png' %}" alt="">
        </div>

        <br>
        <p class="faq__text-title">3.3 Точки самовывоза</p>
        <div class="faq__description">
            Если у вас несколько пунктов самовывоза, укажите их. Список пунктов появится при оформлении заказа. Также контакты 
            пунктов самовывоза можно вывести в подвале сайта.
        </div>

        <br>
        <p class="faq__text-title">3.4 Способы оплаты</p>
        <div class="faq__description">
            Заменяют способы оплаты "по-умолчанию".
        </div>
        <br><br>
        <br>

        <p class="faq__text-big">3.2 Категории</p>
        
        <div class="faq__description">
            Позволяет создавать, редактировать, удалять категории товаров. Стоит обратить внимание на пункт "Отображать в меню". 
            Если этот пункт не отмечен, то категория не отображается в шапке сайта.
        </div>
        <br>
        <p class="faq__text-big">3.3 Товары</p>
        
        <div class="faq__description">
            Позволяет создавать, редактировать, удалять товары. Обязательные пункты для заполнения обозначены *.
        </div>

        <br>
        <p class="faq__text-big">3.4 Сопутствующие товары</p>
        
        <div class="faq__description">
            Сопутствующие товары можно привязать к конкретной категории или ко всем категориям. В сопутствующие товары можно включить такие товары, как 
            столовые приборы. Сопутствующий товар будет автоматически добавлться в корзину при добавлении любого товара или товара, 
            относящегося к нужной категории. Можно настроить количество бесплатных позиций и минимальное количество товаров для заказа. 

        </div>
        <br>
        <p class="faq__text-big">3.5 Характеристики</p>
        
        <div class="faq__description">
            При создании характеристик, они становятся доступны для заполнения в разделе создания/рудактирования товара. Характеристики отображаются списком 
            в карточке товара.
        </div>
            
    </div>

    <p class="faq__title">4. Продажи</p>
    <p class="faq__desc">Работа с клиентами и заказами.</p>


    
    <div class="faq__item ">

        <p class="faq__text-big">4.1 Покупатели</p>
        
        
        <div class="faq__description">
            Список всех покупателей. Возможность просмотреть все заказы, которые совершик конкретный покупатель.

        </div>
        <br>

        <p class="faq__text-big">4.2 Заказы</p>
        
        
        <div class="faq__description">
            Список всех заказов с описаниями. При открытии карточки заказа есть возможность изменить статус заказа (если пользователь
            зарегистрирован, статус будет отображаться в ЛК).

        </div>


    </div>

    <p class="faq__title">5. Блог</p>
    <p class="faq__desc">Раздел новостей.</p>


    
    <div class="faq__item ">

        
        
        <div class="faq__description">
            Описание раздела в разработке.

        </div>


    </div>

    <p class="faq__title">6. Маркетинг</p>
    <p class="faq__desc">Промокоды и карты лояльности.</p>


    
    <div class="faq__item ">

        
        
        <p class="faq__text-big">6.1 Промокоды</p>
        
        
        <div class="faq__description">
            Устанавливайте скидки по промокодам. Скидка настраивается в %

        </div>
        <br>
        <p class="faq__text-big">6.2 Карты лояльности</p>
        
        
        <div class="faq__description">
            Карты лояльности начинают работать только после включения "Оповещения по смс" для предотвращения использования скидок и бонусов без подтверждения номера телефона. Перейдите в "Настройки->Общие настройки" и установите флажок на пункте "Разрешить отправку смс сообщений для регистрации и подтверждения заказов", сохраните изменение настроек. Также необходимо задать уровни лояльности в настройках. Если скидка одна для всех, без повышения, то создайте один уровень.

        </div>
        <br>


    </div>
   
  
</div>







{% endblock %}