
{% extends 'base.html' %}
{% load thumbnail %}

{% load thumbnail %}
{% block title %}{% if category.meta_title %}{{ category.meta_title }}{% else %}{{ category.name }}{% endif %}{% endblock %}
{% block description %}{% if category.meta_description %}{{ category.meta_description }}{% endif %}{% endblock %}
{% block keywords %}{{ category.meta_keywords }}{% endblock %}
{% block canonical %}{{ category.get_absolute_url }}{% endblock %}
{% block og:title %}{% if category.meta_title %}{{ category.meta_title }}{% else %}{{ category.name }}{% endif %}{% endblock %}
{% block og:description %}{% if category.meta_description %}{{ category.meta_description }}{% endif %}{% endblock %}
{% block og:url %}{{ category.get_absolute_url }}{% endblock %}
{% block twitter:title %}{% if category.meta_title %}{{ category.meta_title }}{% else %}{{ category.name }}{% endif %}{% endblock %}
{% block twitter:description %}{% if category.meta_description %}{{ category.meta_description }}{% endif %}{% endblock %}

{% block og:image %}{% if category.image %}{% thumbnail category.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}
{% block og:image:secure_url %}{% if category.image %}{% thumbnail category.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}
{% block twitter:image %}{% if category.image %}{% thumbnail category.image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% else %}{% thumbnail setup.social_image "537x240" format="PNG" as im %}{{ im.url }}{% endthumbnail %}{% endif %}{% endblock %}


{% block body %}
{% load static %}

<div class="gray">

    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__inner">
                <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a class="breadcrumbs__link" href="{% url 'home' %}" title="Главная" itemprop="item">
                            <span itemprop="name">Главная</span>
                            <meta itemprop="position" content="0">
                        </a>
                    </li>
                    
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a class="breadcrumbs__link" href="{% url 'catalog' %}" title="Меню" itemprop="item">
                            <span itemprop="name">Меню</span>
                            <meta itemprop="position" content="1">
                        </a>
                    </li>
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a class="breadcrumbs__link" href="{{ category.get_absolute_url }}" title="{{ category.name }}" itemprop="item">
                            <span itemprop="name">{{ category.name }}</span>
                            <meta itemprop="position" content="2">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="banner__inner">

                <h1 class="banner__title">{% if category.meta_h1 %}{{ category.meta_h1 }}{% else %}{{ category.name }}{% endif %}</h1>

            </div>
        </div>
    </div>


    <div class="catalog">
        
        <div class="container">
            <div class="catalog__inner">

                {% comment %} {% include 'components/catalog__sidebar.html'  %} {% endcomment %}

                
                <div class="catalog__list">
                    <div class="catalog__refresh">
                        {% include 'components/sort.html'  %}
                        {% include 'components/product_list.html' with products=products big='' size='290x193' %}
                        {% include 'global/pagination.html'  %}
                    </div>

                </div>
            </div>
        </div>
        
    </div>

    {% if category.description %}
    <div class="cat-desc">
        <div class="container">
            <div class="cat-desc__inner">
                {{ category.description | safe }}

            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}