.filter {



    // .filter__price
    &__price {
        display: flex;
        align-items: center;

    }

    // .filter__text

    &__text {
        margin-right: 15px;
    }

    // .filter__input

    &__input {
        margin-right: 10px;
        width: 100px;
        border: none;
        font-size: 16px;
        border-bottom: 1px solid #222;
        outline: 0;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }

    // .filter__price-item-ref
    &__price-item-ref {
        width: 50%;
        display: flex;
    }
}
