
@font-face {
    font-family: 'Zombie';
    src: url('../../fonts/zombie/ds_zombie_cyr.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/zombie/ds_zombie_cyr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/zombie/DSZombieCyr.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/zombie/DSZombieCyr.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/zombie/ds_zombie_cyr.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/zombie/ds_zombie_cyr.svg#svgFontName') format('svg'); /* Legacy iOS */

    font-weight: 400;
    font-style: normal;
  }