.blog-list {
    width: 100%;
    padding: 40px 0;
    // .blog-list__inner

    &__inner {
        display: flex;
    }

    // .blog-list__sidebar

    &__sidebar {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    // .blog-list__sidebar-item

    &__sidebar-item {
        padding: 8px 10px;
        color: var(--color-font);

        &--active {
            color: var(--color-primary);
        }
    }

    // .blog-list__row

    &__row {
        display: flex;
        margin-bottom: 20px;
        .blog-list__item {
            width: 50%!important;
        }
    }

    // .blog-list__item

    &__item {
        width: 500px;
        min-width: 500px;
        
    }

    // .blog-list__wrap

    &__wrap {
        display: block;
        width: 100%;
        height: 350px;

    }

    // .blog-list__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    // .blog-list__link

    &__link {
        color: var(--color-font);
        display: block;
        margin-top: 20px;
    }

    // .blog-list__title

    &__title {
        font-size: 26px;
    }

    // .blog-list__description

    &__description {
        margin-bottom: 20px;
        color: grey;
        display: flex;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    // .blog-list__date

    &__date {
        font-size: 12px;
    }

    // .blog-list__col

    &__col {
        width: 100%;
        margin-left: 20px;
        width: 50%!important;
    }

    // .blog-list__col-item

    &__col-item {
        display: flex;
       
        width: 100%;
    }
    &__col-item + &__col-item  {
        margin-top: 20px;
    }

    // .blog-list__col-wrap

    &__col-wrap {
        min-width: 200px;
        max-width: 200px;
        height: 163px;
        display: block;
        
    }

    // .blog-list__col-img

    &__col-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .blog-list__col-right
    &__col-right {
        width: 100%;
        padding: 10px;
        background-color: #f2f2f2;
    }
    // .blog-list__col-link

    &__col-link {
        display: block;
        color: var(--color-font);
    }

    // .blog-list__col-title

    &__col-title {
        font-size: 20px;
    }

    // .blog-list__col-date

    &__col-date {
        font-size: 12px;
    }

    // .blog-list__all

    &__all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .blog-list__item {
            margin-bottom: 20px;
            width: 636px;
            &:nth-child(2n) {
                margin-left: 20px;
            }
        }
    }

    // .blog-list__all-item

    &__all-item {
    }

    // .blog-list__all-wrap

    &__all-wrap {
    }

    // .blog-list__all-img

    &__all-img {
        width: 100%;
    }

    // .blog-list__all-link

    &__all-link {
    }

    // .blog-list__all-title

    &__all-title {
    }

    // .blog-list__all-date

    &__all-date {
    }
}

