.sl {
    position: relative;
    font-family: var(--slider-font);
    // padding: 40px 0;

    &--min {
        padding-top: 20px;

        .sl__item {
            border-radius: 8px;
            overflow: hidden;
        }
    }


    // .sl__inner
    &__inner {

    }
    // .sl__item

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: calc(100vh - 250px);
        // min-height: 374px;
        height: var(--slider-height);
        position: relative;
        color: var(--color-font);
        overflow: hidden;
        @media screen and (max-width: 480px) {
            
            height: var(--slider-height-mobile);
            // padding: 15px;
            overflow: hidden;
            margin-top: 20px;

            // background: none!important;
            
        }
    }

    // .sl__item-link

    &__item-link {
        display: flex;
        width: 100%;
        height: 100%;
        
    }
    // .sl__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // position: absolute;
        left: 0;

        @media screen and (max-width: 480px) {
            display: none!important;
            height: var(--slider-height-mobile);
        }
    }

    // .sl__img-mobile
    &__img-mobile {
        width: 100%;
        height: 100%;
        // height: fit-content;
        object-fit: cover;

        display: none!important;

        @media screen and (max-width: 480px) {
            display: block!important;
            border-radius: 8px;
            height: var(--slider-height-mobile);
            overflow: hidden;
        }
    }

    // .sl__video

    &__video {
        width: 100%;
        height: 598px;
        object-fit: cover;
        
    }

    
    // .sl__wrap

    &__wrap {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 55%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
        max-width: var(--slider-text-width);
        line-height: 1;
        height: fit-content;
        
        &--bg {
            // background-color: rgba(255, 255, 255, 0.7);
            padding: 20px 40px;
            // bottom: 0;
            // left: 0;
            // right: 0;
        }
    }

    // .sl__title

    &__title {
        font-size: var(--slider-title-desctop);
        margin-bottom: 10px;
        @media screen and (max-width: 786px) {
            font-size: 60px!important;
        }
        @media screen and (max-width: 480px) {
            font-size: var(--slider-title-mobile)!important;
            line-height: 1;
        }
    }

    // .sl__text

    &__text {
        margin-bottom: 10px;
        font-size: 34px;
        width: 100%;
        // max-width: 650px;
        // margin: 0 auto;
        @media screen and (max-width: 786px) {
            font-size: 28px!important;
        }
        @media screen and (max-width: 480px) {
            font-size: 14px!important;
            line-height: 1;
        }
    }

    .owl-prev {
        position: absolute;
        top: 50%;
        left: 10px;
        width: 30px!important;
        height: 30px!important;
        border-radius: 50%!important;
        background-color: var(--color-body)!important;
        font-size: 24px;
        transform: translateY(-50%);
        @media screen and (max-width:1426px) {
            left: 30px;
        }
        @media screen and (max-width:480px) {
            display: none;
        }
    }

    .owl-next {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 30px!important;
        height: 30px!important;
        border-radius: 50%!important;
        background-color: var(--color-body)!important;
        font-size: 24px;
        transform: translateY(-50%);
        @media screen and (max-width:1426px) {
            right: 30px;
        }
        @media screen and (max-width:480px) {
            display: none;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        .owl-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fff;
            display: block;
        }
        .owl-dot + .owl-dot {
            margin-left: 5px;
        }
        .active {
            background-color: var(--color-primary);
        }
    }
}



    


