.start {
    
    max-height: var(--slider-height);

    @media screen and (max-width: 480px) {
        max-height: var(--slider-height-mobile);
        
    }

    position: relative;
    // .start__inner

    &__inner {
        display: flex;
    }
}

