.cart {
    position: fixed;
    top: 0;
    left: 0;
    
    bottom: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    transition: all 0.3s ease-out;
    left: -100%;
    opacity: 0;

    @media screen and (max-width:768px) {
        flex-direction: column;
        height: 100vh;
    }

    ::-webkit-scrollbar{
        width:0px;
        background-color:#fff;
        height: 0;
    }
    &--active {
        opacity: 100%;
        left: 0;
        .cart__closer {
            right: 0;
        }
    }

    &--order {
        max-width: 450px;
    }
    // .cart__closer

    &__closer {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10000;
    }

    // .cart__inner

    &__inner {
        max-width: 300px;
        min-width: 300px;
        background-color: var(--color-body);
        position: relative;
        z-index: 10001;
        padding: 20px;
        overflow-y: scroll;
        
        @media screen and (max-width:768px) {
            position: fixed;
            width: 100%;
            min-width: 100%;
            height: 100%;
            
        }
        @media screen and (max-width:480px) {
            padding: 20px;
        }
    }

    // .cart__top

    &__top {
        
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #e1e1e1;
    }

    // .cart__order
    &__order {
        display: inline-block;
        padding: 3px 15px;
        color: var(--color-font);
        border: 1px solid var(--color-font);
        width: 100%;
        text-align: center;

    }

    // .cart__top-row
    &__top-row {
        text-align: end;
    }

    // .cart__top-wrap"
    &__top-wrap {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    // .cart__bottom
    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    // .cart__title

    &__title {
        font-size: 20px;
        font-weight: 600;
        
    }

    // .cart__close

    &__close {
        cursor: pointer;
         svg {
            width: 15px;
         }
    }

    // .cart__list

    &__list {
        // min-height: 575px;
        // border-bottom: 1px solid #e1e1e1;

        @media screen and (max-width:768px) {
            min-height: fit-content;
        }
    }

    // .cart__item

    &__item {
        
        position: relative;
        
        padding: 20px 0;
        border-bottom: 1px solid #e1e1e1;
        &:last-child {
            border-bottom: none;
        }

        @media screen and (max-width:480px) {
            width: 100%;
        }
    }

    // .cart__input-address-wrap
    &__input-address-wrap {
        position: relative;
    }

    // .cart__item-inner
    &__item-inner {
        display: flex;
    }

    // .cart__img-wrap

    &__img-wrap {
        display: inline-block;
        margin-right: 10px;
    }

    // .cart__img

    &__img {
    }

    // .cart__wrap

    &__wrap {
        padding-right: 25px;
    }

    // .cart__name

    &__name {
        color: var(--color-font);
        display: block;
        margin-bottom: 5px;
        line-height: 1;
    }

    // .cart__name-option-wrap
    &__name-option-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    // .cart__name-option
    &__name-option {
        font-size: 11px;
        
    }

    &__name-option + &__name-option {
        margin-left: 5px;
    }
    // .cart__price

    &__price {
        font-size: 13px;
    }

    // .cart__remove

    &__remove {
        position: absolute;
        top: 20px;
        right: 0;
        
        width: 18px;
        height: 18px;
        border-radius: 50%;
        // border: 1px solid rgb(117, 117, 117);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            svg{
                
                path {
                    fill: var(--color-font);
                }
            }
        }
        svg{
            width: 6px;
            transition: all .5s ease;
            path {
                transition: all .5s ease;
                fill: rgb(117, 117, 117);
            }
        }
        
    }

    // .combo__remove
    .combo__remove {
        position: absolute;
        top: 20px;
        right: 0;
        
        width: 18px;
        height: 18px;
        border-radius: 50%;
        // border: 1px solid rgb(117, 117, 117);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            svg{
                
                path {
                    fill: var(--color-font);
                }
            }
        }
        svg{
            width: 6px;
            transition: all .5s ease;
            path {
                transition: all .5s ease;
                fill: rgb(117, 117, 117);
            }
        }
    }

    .plus_combo {
        background: none;
        border: none;
        
        color: var(--color-font);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        height: 22px;
        border: 1px solid rgb(124, 124, 124);
        width: 22px;
        background: transparent;
        line-height: 1;
        cursor: pointer;
        text-align: center;
    }


    // .cart__total

    &__total {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    // .cart__total-text

    &__total-text {
    }

    // .cart__total-summ

    &__total-summ {
    }

    // .cart__block

    &__block {
        display: flex;
        flex-direction: column;
        text-align: center;
        a + a {
            margin-top: 20px;
        }
    }
    // .cart__empty

    &__empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 203px);
    }

    // .cart__empty-text

    &__empty-text {
        color: #e1e1e1;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }

    // .cart__form-success
    &__form-success {
        font-size: 13px;
        margin-bottom: 20px;
        label {
            display: flex;
            align-items: center;
        }
    }

    // .cart__form
    &__form {
        border-left: 1px solid #e1e1e1;
        position: relative;
        z-index: 10001;
        width: 100%;
        height: 100vh;
        max-width: 550px;
        // min-width: 550px;
        padding: 20px;
        background-color: var(--color-body);
        display: none;

        @media screen and (max-width: 768px) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 100%;
            padding: 20px 20px 130px 20px;
        }
    }


   

    // .cart__form-coupon

    &__form-coupon {
        display: flex;
        align-items: center;

    }

    // .cart__form-coupon-inner
    &__form-coupon-inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    // .cart__form-coupon-btn

    &__form-coupon-btn {
        height: 41px;
        max-height: 41px;
        margin-bottom: 10px;
        border: 1px solid #eaedff;
        background-color: var(--color-body);
        color: var(--color-font);
    }


    // .cart__deliv-method-wrap
    &__deliv-method-wrap {
        width: 100%;
    }
    // .cart__form-wrap

    &__form-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        // @media screen and (max-width: 768px) {
        //     flex-direction: column;
        // }
        
        @media screen and (max-width: 480px) {
            flex-direction: row;
        }
    }

    // .cart__form-btn

    &__form-btn {
        width: 100%;
        display: inline-block;
        text-align: center;
        background-color: var(--color-body-light);
        padding: 8px 20px;
        
        height: 100%;
        color: var(--color-font-light);
        &--active {
            background-color: var(--color-body-light);
            color: var(--color-primary);
        }
    }
    &__form-btn + &__form-btn {
        margin-left: 40px;

        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 10px;
        }
        @media screen and (max-width: 768px) {
            margin-left: 5px;
            margin-top: 0;
        }
        
    }

    // .cart__form-politic

    &__form-politic {
        font-size: 12px;
        margin-bottom: 10px;
        
        color: var(--color-font);
        a {
            color: var(--color-font);
            text-decoration: underline;
        }
    }

    // .cart__form-form-wrap
    &__form-form-wrap {
        overflow-y: scroll;
        height: 100%;    }

    // .cart__form-form

    &__form-form {
        
        min-height: fit-content;
        padding-bottom: 350px;
    }

    // .cart__input

    &__input {
        background: var(--color-body);
        border: 1px solid #eaedff;
        border-radius: 0;
        padding: 12px 20px;
        height: 41px;
        width: 100%;
        outline: none;
        box-shadow: none;
        transition: all 0.5s ease;
        appearance: none;
        -moz-appearance: textfield;
        margin-bottom: 10px;
        resize: none;
        color: var(--color-font);
        &::placeholder {
            color: #797979;
        }

        &--done {
            border-color: var(--color-success);
        }
        
    }

    &__input.phone {
        // width: 250px;
    }

    // .cart__input-sms
    &__input-sms {
        display: none;
        width: 110px;
        margin-bottom: 10px;
    }


    // .cart__input-sms-inner

    &__input-sms-inner {
        display: flex;
        align-items: center;
        input {
            width: 150px;
            margin-bottom: 0;
        }
    }

    
    // .cart__input-sms-btn

    &__input-sms-btn {
        padding: 5px 10px 3px;
        margin-left: 10px;
        font-size: 10px;
        color: var(--color-success);
        line-height: 1.4;
        border: 1px solid var(--color-success);
        cursor: pointer;
    }



    // .cart__input-phone-btn
    &__input-phone-btn {
        display: none;
        // height: 46px;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        height: 41px;
        max-height: 41px;

    }

    

    // .cart__input-phone-btn-wrap
    &__input-phone-btn-wrap {
        cursor: pointer;
        
        height: 41px;
        
        align-items: center;
        justify-content: center;
        border: 1px solid #eaedff;
        border-left: none;
        background-color: var(--color-body);
        color: var(--color-font);
        
        white-space: nowrap;
        transition: all .5s ease;
        
        small {
            line-height: 1;
            font-size: 10px;
        }

        &:hover {
            // color: #7b7b7b;
            background-color: #ebebeb;
        }
    }

    // .cart__input-phone
    &__input-phone {
        display: flex;
    }

    // .cart__input-col
    &__input-col {

        &:nth-child(1) {
            margin-right: 10px;
        }
    }
    // .cart__input-wrap

    &__input-wrap {
        display: flex;

        
    }

    // .cart__select

    &__select {
        position: relative;
        padding: 8px 20px;
        background-color: var(--color-body);
        margin-bottom: 20px;
        cursor: pointer;
        
    }

    // .cart__select-active

    &__select-active {
        
    }

    // .cart__select-active-inner {
    &__select-active-inner {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
            
            path {
                stroke: var(--color-font);
            }
        }
    }

    // .cart__select-error
    &__select-error {
        color: red;
        font-size: 12px;
        padding-left: 37;
        display: none;
    }

    // .cart__select-drop

    &__select-drop {
        border-radius: 10px;
        display: none;
        position: absolute;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        background-color: var(--color-body);
        z-index: 501;
        top: 44px;
        left: 0;
        width: 100%;
        border: 1px solid #f1f1f1;

        &--active {
            display: block;
        }
        @media screen and (max-width: 768px) {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 95%;
            
        }
    }

    // .cart__select-drop-inner
    &__select-drop-refresh {
        display: flex;
        flex-direction: column;
    }

    // .cart__select-drop-time
    &__select-drop-time {
        
        .cart__select-item {
            width: 100%;
        }

    }
    // .cart__select-drop-inner
    &__select-drop-inner {
        display: flex;
    }
    // .cart__select-drop-wrap
    &__select-drop-wrap {
        width: 100%;
        max-height: 350px;
        overflow-y: scroll;
    }
    // .cart__select-item

    &__select-item {
        padding: 20px;
        

        &--active {
            font-weight: 700;
        }
    }

    // .cart__select-time
    &__select-time {
        line-height: 1;
    }
    #data {
        font-size: 12px;
        color: #7b7b7b;
    }
    // .cart__order-create-wrapper

    &__order-create-wrapper {
        border-top: 1px solid #e1e1e1;
        position: absolute;
        bottom: 0;
        padding: 20px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-body);
        z-index: 99;

        @media screen and (max-width: 768px) {
            position: relative;
            padding-bottom: 60px;
        }
    }

    // .cart__order-line

    &__order-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &--balls {
            font-size: 12px;
        }
    }

    // .cart__order-line__balls
    &__order-line__balls {

    }

    // .cart__order-line__balls-link
    &__order-line__balls-link {
        font-size: 14px;
        color: var(--color-font);
        text-decoration: underline;
        display: inline-block;
        
    }

    // .cart__order-line-text

    &__order-line-text {
    }

    // .cart__order-line-summ

    &__order-line-summ {
    }

    // .cart__order-create

    &__order-create {
        padding: 8px 13px;
        font-family: 'Circe', sans-serif;
        color: var(--color-font);
        background: none;
        font-size: 16px;
        border: 1px solid var(--color-font);
        width: 100%;
        // background-color: var(--color-font);
    }
    // .cart__order-layout
    &__order-layout {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 500;
        display: none;
    }

    // .cart__order-pickup-inner

    &__order-pickup-inner-html {
        display: none;
    }

    // .cart__order-pickup-inner-html-wrapper
    &__order-pickup-inner-html-wrapper {
        margin-bottom: 20px;
        background-color: var(--color-body);
        padding: 20px;
        min-width: 400px;

        @media screen and (max-width: 768px) {
            min-width: 100%;
        }
    }

    #cancel {
        // display: none;

        @media screen and (max-width: 768px) {
            display: inline-block;
        }
    }
    // .cart__select-drop-two-hidden
    &__select-drop-two-hidden {
        display: none;
    }

    // .cart__select-drop-one-hidden
    &__select-drop-one-hidden {
        display: none;

    }
    // .cart__delivery
    &__delivery {
        

        &--top {
            font-size: 18px;
            margin-top: 15px;
        }
        span {
            font-size: 12px;
        }
    }

    // .cart__deliv-method
    &__deliv-method {
        display: flex;
    }

    // .cart__form-refresh-delivery
    &__form-refresh-delivery {
        display: none;

        &--active {
            display: block;
        }
    }

    // .cart__pickup-row
    &__pickup-row {
        display: none;
        margin-bottom: 10px;

        &--active {
            display: block;
        }
    }

    .address-error {
        font-size: 12px;
        margin-bottom: 10px;
        color: red;
        margin-top: -10px;
        display: none;
    }
    .suggest-error {
        border-color: red;
    }
}


.ymaps-2-1-79-search__suggest {
    top: 0!important;
}

#map {
    display: none;

    @media screen and (max-width: 768px) {
        display: none!important;
    }
}

.id_phone-wrap {
    position: relative;

    &:hover {
        .id_phone__edit {
            opacity: 100%;
        }
    }
    svg {
        width: 15px;
        opacity: 50%;
    }
}

.id_phone__edit {
    opacity: 0;
    transition: all .5s ease;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    svg {
        width: 15px;
        opacity: 50%;
    }
}


    



.hidden-content {
    display: none;
    // .hidden-content__wrap

    &__wrap {
        position: relative;
        width: 100%;
    }

    // .hidden-content__remove

    &__remove {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
